@model  IEnumerable<BusTrackerWeb.Models.RunModel>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1><img style="max-width:50px; margin-top: -4px; margin-right: 10px; float:left;" src="~/Content/Images/bushop-logo.png">When would you like to leave?</h1>
</div>

<div class="journeys-title">Are you departing from your current location?</div>

<div id="user-location"></div>

<div id="runResults">
    <table id="journeyTable" class="table table-striped search-table">
        <tr>
            <th>Route</th>
            <th>Direction</th>
            <th>Origin Departure Time</th>
            <th>Destination Arrival Time</th>
            <th>Link</th>
        </tr>

        @foreach (var routeRun in Model)
        {
                <tr>
                    <td>@Html.DisplayFor(modelItem => routeRun.Route.RouteName)</td>
                    <td>@Html.DisplayFor(modelItem => routeRun.Direction.DirectionName)</td>
                    <td>@Html.DisplayFor(modelItem => routeRun.StoppingPattern.Departures.First().ScheduledDeparture)</td>
                    <td>@Html.DisplayFor(modelItem => routeRun.StoppingPattern.Departures.Last().ScheduledDeparture)</td>
                    <td>@Html.ActionLink("Select", "GetJourney", "Journey", new { runId = routeRun.RunId }, new { @class = "btn btn-default" })</td>
                </tr>
        }
    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            getLocation();
        });

        function getLocation(locationDiv) {
            if ("geolocation" in navigator) { 
                    navigator.geolocation.getCurrentPosition(function (position) {
                        $("#user-location").html("Found your location <br />Lat : " + position.coords.latitude + " </br>Lang :" + position.coords.longitude);
                });
            } else {
                console.log("Browser doesn't support geolocation!");
            }
        }
    </script> 
}

