@model  IEnumerable<BusTrackerWeb.Models.SearchRouteModel>

<table id="routeTable" class="table table-striped search-table">
    <tr>
        <th>Route</th>
        <th>Direction</th>
        <th>Link</th>
    </tr>

    @foreach (var searchRoute in Model)
    {
        for (var i = 0; i < searchRoute.Directions.Count(); i++)
        {
            if (i == 0)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => searchRoute.Route.RouteName)</td>
                    <td>@Html.DisplayFor(modelItem => searchRoute.Directions[i].DirectionName)</td>
                    <td>@Html.ActionLink("Select", "GetDepartures", "Departures", new { routeId = searchRoute.Route.RouteId, directionId = searchRoute.Directions[i].DirectionId }, new { @class = "btn btn-default" })</td>
                </tr>
            }
            else
            {
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(modelItem => searchRoute.Directions[i].DirectionName)</td>
                    <td>@Html.ActionLink("Select", "GetDepartures", "Departures", new { routeId = searchRoute.Route.RouteId, directionId = searchRoute.Directions[i].DirectionId }, new { @class = "btn btn-default" })</td>
                </tr>
            }
        }
    }
</table>
